

<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="card user-saved-lists">
                <div class="card-body">
                    <h3>Your Saved Lists</h3>
                </div>
                <!--Need to add calls like below list to get list items from user grocery list data -->
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">An item</li>
                    <li class="list-group-item">A second item</li>
                    <li class="list-group-item">A third item</li>
                </ul>
            </div>
        </div>
        <div class="col-md-7">
            <div class="card card-white">
                <div class="card-body">
                    <h3>Add Items to your List:</h3>
                    <form action="/controllers/api/apiroutes.js" method= "POST">
                        <input type="text" class="form-control add-item" placeholder="Grocery Item">
                        <button type="button" class="btn btn-outline-primary" type="submit" id="save-item">Save Item</button>
                        <button type="button" class="btn btn-outline-primary" type="submit" id="save-list">Save List</button>
                    </form>
                     <!-- container for the list -->
                <div class="form-check"> 
                    <ul class="list-container">
                        {{#each items as |item|}}
                        <li class="list-item">
                            {{{item.list_id}}}: {{{item.item}}}
                            
                        <!-- javscript:void(0) stops the page from reloading and JS files can be called on single or double clicks -->
                            <a href="javascript:void(0);" class="float-right remove-list-item"><i class="icon-close"></i></a>
                        </li>
                        {{/each}}
                    </ul>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>